/// build a button based on a theme from
/// $button-themes map
/// @param $name - button name
/// @param $theme [primary] - the theme to use from the map
@mixin make-button($theme: 'primary') {
    $values: map-get($button-themes, $theme);

    @include font-size(20);
    background-color: map-get($values, bgColor);
    border-color: map-get($values, border);
    color: map-get($values, color);
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: map-get($values, hover);
        background-color: map-get($values, bghover);
        text-decoration: none;
        cursor: pointer;
    }
}

/// Reset default <button> styles to make it more like a text link
@mixin reset-button() {
    margin: 0;
    line-height: normal; // Override line-height to avoid spacing issues
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}
