//***** Colors *****/
$color-white: #ffffff;
$color-light-grey: #f9f9f9;

$mirum-blue: #4cc8ed;
$mirum-bone-white: $color-light-grey;
$mirum-dark-purple: #25172a;
$mirum-purple: $mirum-dark-purple;
$mirum-green: #14a74a;
$mirum-pink: #e24598;
$mirum-red: #eb2f25;
$mirum-white: $color-white;
$mirum-yellow: #faed50;

$color-athens-gray: #f8f9fa;
$color-tuna: #323742;

//***** Button Themes *****/
// @include make-button(primary);
// $button-themes: (
//     primary: (
//         bgColor: $shuttle-gray,
//         color: $white,
//         bghover: $shiraz,
//         hover: $white
//     ),
//     secondary: (
//         bgColor: $ebony-clay,
//         color: $white,
//         bghover: $shiraz,
//         hover: $white
//     )
// );

//***** Typography *****/
/// Base font size for the page. Assign to the <html> element
/// @group Fonts
$font-size-base: 16;

/// Default page font stack
/// @group Fonts
$mirum-sans-regular: 'Montserrat', sans-serif;;
