html {
    font-size: 16px;
}
body {
    font: 1rem/1.2 #{$mirum-sans-regular};
    background-color: $color-athens-gray;
    color: $color-tuna;
}
.wrapper {
    width: 100%;
    padding: 20px;

    @include breakpoint('large') {
        width: 800px;
        margin: 20px auto;
        padding: 0;
    }
}
.cards {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    // grid-template-columns: repeat(3 ,1fr);
    // transition: $easeOutQuad 100ms padding-bottom;

    &.loading {
        padding-bottom: 200px;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 200px;
            bottom: 0;
            left: 0;
            background: url(/media/loading.gif) no-repeat center;
            z-index: 1;
        }
    }
}
