@import 'typography/functions', 'typography/extends', 'typography/mixins';

// Set up fonts in project
// $ff-map: (
//     '': (
//         (
//             'name': 'mirum_sans_bold-webfont',
//             'formats': (
//                 'woff',
//                 'woff2'
//             ),
//             'weight': '700'
//         ),
//         (
//             'name': 'mirum_sans-webfont',
//             'formats': (
//                 'woff',
//                 'woff2'
//             )
//         )
//     )
// );

// Pass your map to the mixin
// @include ff-batch($ff-map);


$headers: (
    alpha: (
        font-weight: 700,
        margin: 0 12px 6px,
    )
);
