//**********************************************
//  This is the manifest file.
//  It contains all the sass imports and
//  should not contain any actual css.
//
//  When importing from node_modules use a ~
//  followed by the name of the module to import.
//  Example: @import '~module-name`;
//**********************************************
@import 'easing';

@import '~css-wipe'; // css reset

$font-laila: 'Laila', serif;
$font-mont: 'Montserrat', sans-serif;

//******** Configs and Helpers ********//
@import 'config', 'mixins/**/*.scss';

//******** Elements (Atoms) ********//
@import 'typography', 'colors';

@import 'pattern-library/**/*.scss';
