@function get-relative-font-size(
    $actual,
    $relative: $font-size-base,
    $unitType: 'rem'
) {
    @if $unitType == 'rem' {
        @return #{($actual / $font-size-base)}rem;
    } @else {
        @return ceil(percentage($actual / $relative));
    }
}

/// Path to the location of the font files
/// @type String
$ff-dir: '/fonts' !default;

/// Function to build a valid `src` from a map of sources
/// @param {Map} $font - Font to build the source for
/// @return {List}
/// @group fonts
/// @access private
@function ff-build-src($font) {
    $src: ();
    $name: map-get($font, name);
    @each $format in map-get($font, formats) {
        $src: append(
            $src,
            url($ff-dir+'/'+$name+'.'+unquote($format)) format(quote($format)),
            'comma'
        );
    }
    @return $src;
}
