$font-fallback-type: '%';

@mixin font-size($actual, $relative: $font-size-base) {
    @if $font-fallback-type != '' {
        @if $font-fallback-type == '%' {
            font-size: get-relative-font-size(
                $actual,
                $relative,
                $font-fallback-type
            );
        } @else {
            font-size: $actual;
        }
    }
    font-size: get-relative-font-size($actual, $relative, 'rem');
}

@mixin get-header($header) {
    @if (map-has-key($headers, $header)) {
        $styles: map-get($headers, $header);
        @each $property, $value in $styles {
            #{$property}: $value;
        }
    } @else {
        @warn 'No styles found for #{$header} header';
    }
}

/// Import a single font.
/// @param {String} $name - Name of the font to import
/// @param {List} $src - Sources of the font to import
/// @param {String | Number} $weight [normal] - Weight of the font to import
/// @param {String | Number} $style [normal] - Style of the font to import
/// @group fonts
@mixin ff-single($fontName, $src, $weight: normal, $style: normal) {
    @at-root {
        @font-face {
            font-family: quote($fontName);
            src: $src;
            font-weight: unquote($weight);
            font-style: unquote($style);
        }
    }
}

/// This mixin is used to create a batch of @font-face rules using
/// a Sass map.
/// @param {Map} $fonts - a Sass map of the fonts
///
/// @see $ff-map
/// @requires ff-single
/// @group fonts
@mixin ff-batch($fonts) {
    $src: '';
    @each $font-group-name, $font-groups in $fonts {
        @each $font in $font-groups {
            // default to woff and ttf if formats is missing
            @if map-get($font, formats) {
                $src: ff-build-src($font);
            } @else {
                $src: ff-build-src(
                    map-merge(
                        $font,
                        (
                            'formats': (
                                'woff',
                                'ttf'
                            )
                        )
                    )
                );
            }
            $font: map-merge(
                map-remove($font, name, formats),
                (
                    'src': $src
                )
            );
            @include ff-single($font-group-name, $font...);
        }
    }
}
