<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
        <link href="/css/master.css" rel="stylesheet"/>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="/js/{{ main.js }}"></script>
    </body>
</html>
