$break-768: 768px;
$break-1024: 1024px;

$break-queries: (
    small: '(max-width: #{$break-768 - 1px})',
    medium: '(min-width: #{$break-768}) and (max-width: #{$break-1024 - 1px})',
    large: '(min-width: #{$break-1024})'
);

@mixin breakpoint($break) {
    @if map-has-key($break-queries, $break) {
        @media #{map-get($break-queries, $break)} {
            @content;
        }
    } @else {
        @warn 'A media query was not found for #{$break}';
        @warn 'Possible queries are #{map-keys($break-queries)}';
    }
}
