.card {
    padding-bottom: 16px;
    box-shadow: 0 1px 3px 0 rgba(28,36,58,.2),0 1px 1px 0 rgba(28,36,58,.14),0 2px 1px -1px rgba(28,36,58,.12);
    position: relative;
    z-index: 5;

    &__image {
        width: 100%;
        display: block;
        max-width: 100%;
        margin-bottom: 16px;
    }
    &__title {
        @include get-header(alpha);
    }
    &__description {
        @include font-size(13);
        margin: 0 12px 6px;
        line-height: 1.2;
    }
}
